.add-button {
  width: 150px;
  min-height: 50px;
  cursor: pointer;
  background-image: url(../../images/addButtonMain.svg);
  background-size: 150px 50px auto;
}

@media screen and (max-width: 767px) {
  .add-button {
    background-image: url(../../images/addButtonMobile.svg);
    width: 282px;
    background-size: 282px 50px cover;
  }
}

.add-button:hover {
  opacity: 0.6;
}
