.popup__button_save {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .popup__button_save {
    font-size: 14px;
    line-height: 17px;
  }
}
