.popup-add {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /*   display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}
