.profile__add-button {
  width: 150px;
  min-height: 50px;
  cursor: pointer;
  background-image: url(../../../images/addButtonMain.svg);
  background-size: 150px 50px auto;
  background-color: black;
  border: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    background-image: url(../../../images/addButtonMobile.svg);
    width: 282px;
    background-size: 282px 50px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
}
