.popup__input {
  font-family: "Inter", Arial, sans-serif;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  color: #000000;
  outline: none;
  margin-bottom: 5px;
}

/* @media screen and (max-width: 767px) {
  .popup__input:last-of-type {
    margin-bottom: 15px;
  }
} */

/* .popup__input:invalid {
  border-bottom: 1px solid red;
  margin-bottom: 5px;
}
 */
