.like-button {
  width: 22px;
  height: 19px;
  cursor: pointer;
  border: 0;
  background-color: white;
  background-image: url(../../images/likeButton.svg);
  background-size: 22px 19px;
  margin-bottom: 3px;
}

.like-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .like-button {
    margin-right: 20px;
  }
}
